# Python
venv
activate
.eggs
*.egg-info

# Editors
.idea
*.swo
*.swp
**__pycache__**

# application
entities.json
error.log
web/resources/*
!web/resources/images/
web/resources/mapshots/maps/*
build/
dist/
xmr.log